<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js" >
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Di.SVO. Диспетчерская система</title>
    <meta name="description" content="Диспетчерская система">
    <meta name="keywords" content="Диспетчерская система, хакатон, цифровой прорыв">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/" />
    <link rel="stylesheet" href="bower_components/bootstrap/md.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="app.css?1.3">
    <link rel="stylesheet" href="bower_components/angular-ui-select/select.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.css">
    <link rel="stylesheet" href="bower_components/radar/Chart.css">
    <link rel="stylesheet" href="assets/styles.min.css">
    <link rel="stylesheet" href="bower_components/kanban/jkanban.min.css">

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto-Light.woff2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto-Bold.woff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto-Light.ttf">
</head>
<body class="ng-cloak" id="page-top">
<div id="wrapper" ng-controller="UserCtrl">
    <nav class="bg-light pb-0 navbar navbar-expand-lg fixed-top"  ng-cloak>
        <div class="container">
            <a class="navbar-brand mb-0 h1 text-dark bold big-size"   href="">Di.SVO</a>
            <button id="TTSNav" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="float-right" id="navbarSupportedContent">
                <a ng-class="{'borderNavBar': selectedPage=='main'}" ng-click="selectedPage='main'" href="#/main" class="   py-2 mr-3 mb-0  text-light">Доска задач</a>
                <a ng-class="{'borderNavBar': selectedPage=='map'}" ng-click="selectedPage='map'" href="#/map" class="    py-2 mr-3  mb-0  text-light">Интерактивная карта</a>
                <a ng-class="{'borderNavBar': selectedPage=='logout'}" ng-click="selectedPage='logout'"  href="#/login" class="   py-2 ml-4 mb-0 bold text-light">Выйти</a>
            </div>
        </div>
    </nav>

    <div ng-view class="theme-showcase pt-3" ng-style="{'margin-left': (user && user.user_id) ? '265px':'unset'}" id="content-wrapper" role="main" style="background-color: #F8F8FB;"></div>

</div>
<div class="d-contents bg-white sticky-footer" ng-include="'footer.html'"></div>

<!--Plugins and other components-->

<script src="bower_components/kanban/jkanban.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery/jquery.maskedinput.min.js"></script>
<script src="bower_components/jquery/jquery.blockUI.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/md.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
<script src="bower_components/angular-ui-select/select.min.js"></script>


<!--Application Angular JS files-->
<script src="app.js?1.3"></script>
<script src="loginPage/loginPage.js?1.3"></script>
<script src="mainPage/mainPage.js?1.3"></script>
<script src="services.js?1.3"></script>
<script src="users/users.js?1.3"></script>
<script src="map/map.js?1.3"></script>

<!--modal windows-->
<script src="modalWindows/ConfirmationModal/confirmationModal.js?1.3"></script>
<script src="modalWindows/InfoModal/infoModal.js?1.3"></script>
<script src="modalWindows/ChangeTrackModal/changeTrackModal.js?1.3"></script>
<script src="modalWindows/EditUserModal/editUserModal.js?1.3"></script>

</body>

</html>